@import '../../../styles.scss';

p {
    writing-mode: vertical-lr;
    color: $button-secondary-color;
}

div::after{
    content: "";
    display: block;
    position: relative;
    background-color: $main-text-color;
    height: 25vh;
    width: 2px;
}


