<section class="section-options" id="about">
    <h2 class="section-heading">About Me</h2>
    <div class="wrapper">
        <div class="inner-container">
            <p>
                Hello! <strong>My name is Yuliia</strong>, and since childhood, the Internet has been not only my hobby but also an integral part of my life. 
                From the first simple websites made in pure HTML to modern web applications using various frameworks and the magic of JavaScript – my journey in the world of web development has been rich and exciting.
            </p>
            <p>
                Because of my educational background in architecture <strong> I understand how proper composition and website design can contribute to achieving a company's business goals.</strong> 
                My adventure with web development began with the course "Modern WWW Technologies" during my engineer's studies in computer science. 
                This discipline combines my two <strong>main strengths: a creative artistic nature and the analytical mind</strong> necessary for writing quality code.
            </p>
            <p>
                I am always looking for new opportunities for improvement because <strong>excellent knowledge of tools allows me to solve any tasks with joy and quickly.</strong>
            </p>
        </div>
        <div class="inner-container" id="portrait-container">
            <img width="60%" alt="my portrait" src="./../../../assets/portrait-site.jpg">
        </div>
    </div>
</section>

