@import 'src/app/app.component.scss';

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

p {
    color: adjust-color($color: $main-text-color, $lightness: -8%,);
}

.section-heading::before {
    content: "01.";
}

.inner-container {
    min-width: 300px;
    width: 55%;
    img {
        filter: drop-shadow(5px 5px $button-secondary-color);
    }
    @media screen and (max-width: 955px) {
        width: 100%;
        text-align: justify;
    }
}

#portrait-container {
    width: 43%;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 955px) {
        display: none;
    }
}