@import 'src/app/app.component.scss';

.section-heading::before {
    content: "02.";
}

.container {
    display: flex;
    min-width: 100%;
    min-height: 63vh;
    flex-direction: row;

    .sidebar {
        width: 30%;

        ul {
            width: 90%;
            list-style-type: none;
        }
        
        li {
            position: relative;
            width: fit-content;
            padding: 10%;
            cursor: pointer;
        
            &::before{
                content: '';
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                bottom: 0;
                line-height: inherit;
                width: 2px;
                background-color: white;
                opacity: 0.25;
            }
        
            &.clicked { 
                &::before{
                    background-color: $button-secondary-color;
                    opacity: 1;
                }
            }
        }
    }

    .content {
        width: 70%;

        h2 {
            margin: 0;
        }

        h4 {
            font-weight: 400;
            margin-top: 0;
            color: $button-secondary-color;
        }

        ul {
            padding: 0;
            list-style-position: inside;

            li{
                color: adjust-color($color: $main-text-color,$lightness: -8%);

                & + li {
                    margin-top: 10px;  
                }

                &::marker{
                    content: "▷";
                    color: $button-secondary-color;
                }
            }
        }

        #inner {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
}
