@import '../../../styles.scss';
@import url('https://fonts.cdnfonts.com/css/sf-mono');


// #navbar {
//     @include theme(DarkTheme);
//     width: 90%;
//     display: flex;
//     margin: 0;
//     justify-content: space-between;
//     padding: 45px 0;
//     align-items: center;
// }

.text-button {
    background: none;
    color: $main-text-color;
    font-family: $primary-font-family;
    text-align: start;
    border: none;
    font-size: 0.9em;
    cursor: pointer;
    transition: 0.2s;
    &:hover {
        color: $button-secondary-color;
        transform: translateY(-2px);
    }
}

.border-button {
    background: none;
    cursor: pointer;
    font-family: $primary-font-family;
    color: $button-secondary-color;
    font-size: 0.9em;
    // margin-left: 10%;
    box-sizing: border-box;
    padding: 14px 28px;
    border: solid $button-secondary-color;
    border-radius: 7px;
}

mat-icon{
    color: $button-secondary-color;
}

mat-divider{
    border-top-color: $button-secondary-color;
    border-width: 2px 0 0 0;
}

nav{
    background-color: $background-color;
}

#list {
    margin-right: auto;
    position: fixed;
    display: flex;
    justify-content: space-between;
    right: 15%;
}

#logo {
    position: fixed;
    left: 4%;
}

#item {
    margin-left: 3%; 
}