<nav
  class="flex justify-between px-10 py-4 flex-1 content-center z-50 relative"
>
  <div>
    <img width="70px" src="assets/logo.svg" alt="logo" />
  </div>
  <div *ngIf="!isMobileNavbar; else elseBlock" class="flex flex-row gap-6">
    <button class="text-button" (click)="scrollToAnotherSection('welcome')">
      Home
    </button>
    <button class="text-button" (click)="scrollToAnotherSection('about')">
      About
    </button>
    <button class="text-button" (click)="scrollToAnotherSection('experience')">
      Experience
    </button>
    <button class="text-button" (click)="scrollToAnotherSection('projects')">
      Projects
    </button>
    <button
      class="text-button mr-5"
      (click)="scrollToAnotherSection('contact')"
    >
      Contact
    </button>
    <button
      [@borderButtonHoverAnimation]="buttonHovered ? 'hovered' : 'initial'"
      (mouseenter)="buttonHovered = true"
      (mouseleave)="buttonHovered = false"
      class="border-button"
      (click)="openResumePdf()"
    >
      Resume
    </button>
  </div>
  <ng-template #elseBlock>
    <button
      mat-icon-button
      class="flex items-center"
      (click)="mobileMenuOpen = !mobileMenuOpen"
    >
      <mat-icon class="text-[28px] w-7 h-7">menu</mat-icon>
    </button>
  </ng-template>
</nav>
<mat-divider *ngIf="mobileMenuOpen"></mat-divider>
<div *ngIf="mobileMenuOpen" @openClose class="transform relative">
  <div class="flex flex-col justify-between gap-4 items-stretch py-5 px-[10vw]">
    <button class="text-button" (click)="scrollToAnotherSection('welcome')">
      Home
    </button>
    <mat-divider class="border-t-gray-700"></mat-divider>
    <button class="text-button" (click)="scrollToAnotherSection('about')">
      About
    </button>
    <mat-divider class="border-t-gray-700"></mat-divider>
    <button class="text-button" (click)="scrollToAnotherSection('experience')">
      Experience
    </button>
    <mat-divider class="border-t-gray-700"></mat-divider>
    <button class="text-button" (click)="scrollToAnotherSection('projects')">
      Projects
    </button>
    <mat-divider class="border-t-gray-700"></mat-divider>
    <button
      class="text-button mr-5"
      (click)="scrollToAnotherSection('contact')"
    >
      Contact
    </button>
    <button
      [@borderButtonHoverAnimation]="buttonHovered ? 'hovered' : 'initial'"
      (mouseenter)="buttonHovered = true"
      (mouseleave)="buttonHovered = false"
      class="border-button"
      (click)="openResumePdf()"
    >
      Resume
    </button>
    <div class="flex flex-row gap-9 items-center">
      <app-icon-button
        [src]="'assets/github.svg'"
        [title]="'GitHub'"
        [href]="'https://github.com/JuMillerDev'"
        [width]="'23px'"
      />
      <app-icon-button
        [src]="'assets/facebook.svg'"
        [title]="'Facebook'"
        [href]="'https://www.facebook.com/juliemiller1701/'"
        [width]="'15px'"
      />
      <app-icon-button
        [src]="'assets/linkedIn.svg'"
        [title]="'Linked In'"
        [href]="'https://www.linkedin.com/in/yuliia-melnyk-8353362b8/'"
        [width]="'20px'"
      ></app-icon-button>
    </div>
  </div>
</div>
