
<app-navbar *ngIf="showFloatingNavbar" [class.shadow]="isNotOnTopOfPage" @slideFromTop></app-navbar>


<div id="wrapper">
   <app-left-information-container></app-left-information-container>
   <div id="main-scrolling-body">
    <app-welcome-section (aboutInView)="onSectionInView('aboutInView',$event)"></app-welcome-section>
    <app-about-section (experienceInView)="onSectionInView('experienceInView',$event)" [@slideFromBottom]="viewsToLoad['aboutInView']"></app-about-section>
    <app-experience-section (projectsInView)="onSectionInView('projectsInView',$event)" [@slideFromBottom]="viewsToLoad['experienceInView']"></app-experience-section>
    <app-projects-section (contactInView)="onSectionInView('contactInView', $event)" [@slideFromBottom]="viewsToLoad['projectsInView']"></app-projects-section>
    <app-contact-section [@slideFromBottom]="viewsToLoad['contactInView']"></app-contact-section>
   </div>
   <app-right-information-container></app-right-information-container>
</div>

