@import '../styles.scss';

app-navbar {
    @include theme(DarkTheme);
}

.shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); /* Add shadow when scrolled */
}

strong {
    color: adjust-color($color: $button-secondary-color, $lightness: -15%);
}

.section-options {
    @include theme(DarkTheme);
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (max-width: 552px) {
        min-height: auto;
    }
}

.section-heading {
    // font-size: clamp(26px,5vw,var(--fz-heading));
    white-space:nowrap;
    margin: 0 0 40px;
    font-weight: 800;
    font-family: $primary-font-family;
    display: flex;
    position: relative;
    align-items: center;

    &::before{
        font-weight: 300;
        margin-right: 10px;
        color: $button-secondary-color;
    }

    &::after{
        content: "";
        display: block;
        position: relative;
        background-color: $main-text-color;
        opacity: 0.25;
        margin-left: 10px;
        height: 1px;
        width: 300px;
        max-width: 300px;
    }
}