@import '../styles.scss';

app-right-information-container{
    position: fixed;
    right: 0;
    bottom: 0;
    height: 40vh;
    width: 130px;
}

app-left-information-container{
    position: fixed;
    left: 0;
    bottom: 0;
    height: 50vh;
    width: 130px;
}

app-navbar {
    position: fixed;
    top: 0;
    z-index: 1000;
    width:100%;
    @include theme(DarkTheme);
}

.shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); /* Add shadow when scrolled */
}

#wrapper {
    display: flex;
    flex-direction: row;
}

#main-scrolling-body {
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 1000px;
    max-width: 2000px;
    padding: 0 200px;
    margin: 0 auto;
}

.section-heading {
    // font-size: clamp(26px,5vw,var(--fz-heading));
    white-space:nowrap;
    margin: 0 0 40px;
    font-weight: 800;
    font-family: $primary-font-family;
    display: flex;
    position: relative;
    align-items: center;

    &::before{
        font-weight: 300;
        margin-right: 10px;
        color: $button-secondary-color;
    }

    &::after{
        content: "";
        display: block;
        position: relative;
        background-color: $main-text-color;
        opacity: 0.25;
        margin-left: 10px;
        height: 1px;
        width: 200px;
    }
}