<app-navbar
  class="fixed top-0 z-50 w-full"
  *ngIf="showFloatingNavbar"
  [class.shadow]="isNotOnTopOfPage || isMobileLayout"
  [isMobileNavbar]="isMobileLayout"
  [showFloatingNavbar]="showFloatingNavbar"
  @slideFromTop
></app-navbar>

<div class="flex flex-row">
  <ng-template [ngIf]="!isMobileLayout">
    <app-left-information-container
      class="fixed left-0 bottom-0 h-full w-16"
    ></app-left-information-container>
  </ng-template>

  <div
    class="flex flex-col max-w-[100vw] self-center flex-1 px-4 md:px-36 lg:px-44 lg:max-w-[2000px]"
  >
    <app-welcome-section
      class="mt-[120px] min-[552px]:mt-0"
      (aboutInView)="onSectionInView('aboutInView', $event)"
    ></app-welcome-section>
    <app-about-section
      class="mb-14"
      (experienceInView)="onSectionInView('experienceInView', $event)"
      [@slideFromBottom]="viewsToLoad['aboutInView']"
    ></app-about-section>
    <app-experience-section
      class="mb-14"
      (projectsInView)="onSectionInView('projectsInView', $event)"
      [@slideFromBottom]="viewsToLoad['experienceInView']"
    ></app-experience-section>
    <app-projects-section
      (contactInView)="onSectionInView('contactInView', $event)"
      [@slideFromBottom]="viewsToLoad['projectsInView']"
    ></app-projects-section>
    <app-contact-section
      [@slideFromBottom]="viewsToLoad['contactInView']"
    ></app-contact-section>
  </div>

  <ng-template [ngIf]="!isMobileLayout">
    <app-right-information-container
      class="fixed right-0 bottom-0 h-full w-16"
    ></app-right-information-container>
  </ng-template>
</div>
